services:
  api:
    build:
      context: ../api
      dockerfile: Dockerfile
    container_name: microblog_api
    depends_on:
      - redis
      - db
    ports:
      - "8000:8000"
    env_file:
      - ./env/dev.env
    volumes:
      - ../api:/app
  db:
    image: postgres:15
    container_name: microblog_db
    environment:
      POSTGRES_USER: microblog
      POSTGRES_PASSWORD: microblog
      POSTGRES_DB: microblog
    ports:
      - "5433:5432"
    volumes:
      - microblog_db_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yml
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/local-config.yml
      - loki-data:/loki
  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yml:/etc/promtail/config.yml
    depends_on:
      - loki
  grafana:
    image: grafana/grafana:11.0.0
    container_name: grafana
    ports:
      - "4000:3000" 
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - loki

  redis:
    image: redis:7-alpine
    container_name: microblog_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    depends_on:
      - redis
    restart: always

volumes:
  microblog_db_data:
  loki-data:
  grafana-storage: